extends ../layout

block nav
  +topnav(true)
  +topslide

block content
  section.properties
    .container
      .tittle
        img(src='/student/images/head-top.png', alt='')
        h3 最新二手物品
      ul.row
        each wupinitem in wupinList
          li.col-sm-4
            each fenleiitem in fenleiList
              if (wupinitem.fenleiid == fenleiitem.id)
                span.tag.font-montserrat.rent= fenleiitem.name
            section
              .img
                img.img-responsive(src= wupinitem.img, alt='')
                .over-proper
                  a.btn.font-montserrat(href='/detail/' + wupinitem.id) 查看详情
              .detail-sec
                a.font-montserrat(href='javascript:;') #{wupinitem.name}
                p #{wupinitem.introduce.substring(0, 40)}
                  - if (wupinitem.introduce.length > 40)
                    | ......
                .share-p
                  span.price.font-montserrat ￥#{wupinitem.price}

block footer
  +footer

block js
  script.
    $(function() {
      $('.topnavli').eq(0).addClass('active');
    });
